#header-nav{
	background-color:darkcyan;
	min-height: 80px;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{
	color: black;
	text-transform: uppercase;
	margin-bottom:0px;
	margin-top: 0px;
}

.container{
	width: 100% !important;
}

.p-padding{
	padding-top: 15px;
}
.background-color{
	background-color:cyan ;
}

.margin-chicken{
	margin: 20px;
}

.text-25{
	font-size: 125%;
	font-weight: bold;
} 

.padding-content{
	padding: 15px 15px 15px 15px;
}

#main-content{
	padding: 0px 50px 0px 50px;
}

#nav-list {
  margin-top: 10px;
  margin-bottom: 0px;
}
#nav-list a {
  color: black;
  text-align: center;
  background-color: lightblue;
}

#nav-list li {
margin: 1px;
}



#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid bl;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}